body {
    margin: 0;
    /* Removed default fonts in favour of Open Sans: */
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--chakra-colors-light-base);
    color: var(--chakra-colors-light-text);
}

[data-theme="dark"] body {
    background-color: var(--chakra-colors-dark-base);
    color: var(--chakra-colors-dark-text);
}
h1,
h2,
h3 {
    font-family: "Space Grotesk", sans-serif;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
